* {
    margin: 0;
}

.header_top {
    padding: 4px;
    display: flex;
    background-color: #222222;
    justify-content: space-between;

}

.btn_header_top {
    width: 200px;
    height: 30px;
    background-color: #464646;
    color: gray;
}

.btn1 {
     background-color: #222222;
     color: white;
     border: none;
}

.header_bottom {
    background-color: #2b2b2b;
    padding: 1rem;
}

.btn_header_bottom {
     background-color: #464646;
     color: gray;
     width: 300px;
     height: 30px;
     text-align: left;
     border-radius: 30px;
     border: none;
}

.body {
    background-color: #222222;
    height: 100vh;
    display: flex;
    

        .left {
            width: 70%;
            flex-wrap: wrap;
            display: flex;
            overflow-y: auto;

        }

        .right {
            width: 30%;
            padding: 20px;

            img {
            max-width: 100%;
            height: auto;
           
        }
        }
}

.card {
    color: white;
    width: calc(100% / 4 - 10px);
    padding: 2.5px;

        img {
            max-width: 100%;
            height: auto;
        }
    
}

.btn_play {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    }


.listening {
    display: flex;
    color: white;
    margin-top: 1rem;
    }

.list_item {
    list-style-type: none;
}